HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### teste pessoal curso spring ###
src/main/java/com/salerclorenco/todo_api/service/TesteService.java
src/main/java/com/salerclorenco/todo_api/controller/TesteController.java
src/main/java/com/salerclorenco/todo_api/entity/EntradaEntity.java
src/main/java/com/salerclorenco/todo_api/entity/SaidaEntity.java


